.am-list-item .am-input-extra{
    max-height: .3rem;
    background: #FF6762;
    border-radius: .05rem;
}
.am-button-ghost{
    color: #fff !important;
}
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx){
    .am-button-ghost::before{
        border: none !important;
        border-radius: .02rem;
    }
}
.am-list-body{
    background: transparent;
}
.registered_button{
    padding-top: 2rem;
    width: 70%;
    margin: auto;
}
.registered_confirm{
    background: #FF6762;
    border-radius: .5rem;
}
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx){
    .am-list-body::before{
        background-color:transparent !important;
    }
    .am-list-body::after{
        background-color:transparent !important;
    }
}
