.am-navbar {
  background-color: #ff4a43 !important;
}
.my_title {
  text-align: center;
  font-size: 18px;
  color: #fff;
  height: 0.45rem;
  line-height: 0.45rem;
}
.am-navbar-title {
  color: #fff !important;
}
.padding_tb {
  padding-top: 0.1rem;
  padding-bottom: 0.01rem;
}
.index_tab {
  width: 100%;
  height: 44vh;
}
.index_icon {
  position: relative;
  width: 48%;
  margin: 1%;
  height: auto;
  float: left;
}
img {
  width: 100%;
  height: 100%;
}
.index_levelup {
  width: 0.4rem;
  height: 0.12rem;
  position: absolute;
  top: 0.15rem;
  right: 0.15rem;
  background: url("../../assets/icon_levelup.png") no-repeat;
  background-size: 100% 100%;
}
.bg_w {
  background: #fff;
}
.friend_list {
  position: relative;
  display: flex;
  padding: 0.1rem;
}
.friend_list + .friend_list {
  border-top: 1px solid #eeeeee;
}
.friend_list .head_img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}
.friend_list .friends_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.2rem;
}
.friend_list .friends_info .name {
  color: #666666;
  line-height: 1;
  font-size: 0.14rem;
  padding-top: 0.02rem;
}
.friend_list .friends_info .level {
  display: flex;
  align-items: center;
  padding-top: 0.04rem;
  padding-bottom: 0.05rem;
}
.friend_list .friends_info .level_img {
  width: 0.15rem;
  height: 0.15rem;
}
.friend_list .friends_info .level span {
  color: #999999;
  line-height: 1;
  font-size: 0.12rem;
  margin-left: 0.05rem;
}
.friends_accept {
  position: absolute;
  right: 0.2rem;
  top: 0.125rem;
}
.friends_accept button {
  width: 0.65rem;
  height: 0.35rem;
  background: #4dd865;
  border: none;
  border-radius: 0.05rem;
  color: #fff;
}
.dialog-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.index_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.index_modal_close {
  width: 0.15rem;
  height: 0.15rem;
  float: right;
  margin: 0.1rem 0.1rem 0 0;
}
.index_modal_body {
  text-align: center;
  background: #fff;
  margin: auto;
  width: 90%;
  margin-top: 50%;
}
.index_modal_lists {
  display: flex;
}
.index_modal_title {
  text-align: center;
  padding: 0.2rem;
  font-size: 0.18rem;
}
.index_modal_list {
  width: 33%;
}
.index_modal_body .head_img {
  padding-top: 0.05rem;
  width: 0.6rem;
  height: 0.6rem;
  margin: auto;
}
.friends_info .text {
  margin-top: 0.1rem;
  font-size: 0.13rem;
  display: flex;
  color: #999999;
  justify-content: center;
  align-items: center;
}
.index_follow {
  width: 65%;
  margin: 0.1rem auto 0.25rem !important;
  padding: 0.02rem;
  color: #000 !important;
  font-size: 0.14rem !important;
  margin-bottom: 0.2rem;
  border: 1px solid #ff6762;
  border-radius: 0.05rem;
}
.friends_info .level_img {
  padding-right: 0.01rem;
  width: 0.18rem;
  height: 0.18rem;
}

/* 个人中心 */
.my_content {
  width: 80%;
  height: 2.25rem;
  margin: auto;
  text-align: center;
  position: relative;
}
.my_bg {
  background: url("../../assets/my_bg.png") no-repeat;
  background-size: 100% auto;
}
.my_haed {
  width: 0.7rem;
  height: 0.7rem;
  margin: auto;
  position: relative;
}
.my_info_container {
  color: #fff;
}
.my_level {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.05rem;
}
.my_level img {
  width: 0.18rem;
  height: 0.18rem;
}
.my_haed_input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0.7rem;
  height: 0.7rem;
  overflow: hidden;
}
.my_nickname {
  padding: 0.1rem;
}
.my_info_friends {
  display: flex;
  align-items: center;
  height: 0.7rem;
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 2px 20px 0 #ffddd7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.my_friends {
  padding: 0.1rem 0;
  width: 50%;
}
.my_friends div {
  margin-top: 0.05rem;
}
.after::after {
  content: "";
  border-right: 1px solid #d8d8d8;
  position: relative;
  right: 50%;
  margin: 0.05rem 0;
}
.profile_list .am-list-item,
.friendsLog .am-list-item {
  height: 0.6rem;
}
.viewheight {
  height: calc(56vh - 149px);
}
/* 交友记录 */
.friendsLog .am-list-item img {
  width: 0.4rem;
  height: 0.4rem;
}
.home-banner{
  height: 1.8rem;
}
.tab {
  width: 90%;
  margin: .15rem auto 0;
  display: flex;
  color: #ff4a43;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ff4a43;
  border-radius: .1rem;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  letter-spacing: -0.17px;
  text-align: center;
}
.tab div{
  width: 33.3%;
  padding: .1rem 0;
}
.tabA {
  border-radius: .06rem 0 0 .06rem;
  background: #ff4a43;
  color: #ffffff;
}
.tabB {
  background: #ff4a43;
  color: #ffffff;
}
.tabC {
  border-radius: 0 .06rem .06rem 0;
  background: #ff4a43;
  color: #ffffff;
}
