html {
  font-size: 625%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 540px;
  min-width: 320px;
  min-height: 100vh;
  background: #fff !important;
}
iframe{
  border:0;
}
.iframe-tab{
  position: absolute;
  top: .22rem;
  z-index: 0;
}
.am-toast-notice-content .am-toast-text {
  color: white;
}
.am-list-item .am-input-control input{
  font-size: 16px;
}
.am-list-item+.am-list-item{
  border: 1px solid #eeeeee;
}
.address-footer-button-container{
  color: #00153E;
}
.historyAll .list-view-section-body .am-list-extra{
  color: green;
}
.historyAll .list-view-section-body .am-list-thumb{
  background-color: #00153E;
  border-radius: 50%;
}
.historyAll .list-view-section-body .am-list-thumb img{
  width: .50rem;
  height: .50rem;
}